* {
  margin: 0;
  padding: 0;
}

main {
  background-color: rgb(177, 207, 148);
  min-height: 68vh;
}

header nav {
  background-color: #6da044;
}
header nav div .navbarTitle {
  color: beige;
  text-decoration: none;
  font-family: "Playfair", serif;
  font-size: 2rem;
}
header nav div div {
  justify-content: end;
}
header nav div div ul {
  gap: 1rem;
  align-items: center;
}
header nav div div ul li a {
  color: beige;
  text-decoration: none;
  font-family: "Playfair", serif;
  font-size: 1.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem 4rem;
  background-color: #6da044;
  font-family: "Playfair", serif;
  color: beige;
  font-style: normal;
}
footer .footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}
footer div ul {
  list-style: none;
  color: #2f5213;
}
footer div a {
  text-decoration: none;
  color: beige;
}
footer div iframe {
  width: 100%;
  height: 20vh;
  border: 0;
  border: 1vh;
}

body .jardinHome {
  background-image: url("../imagenes/jardinPrincipal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
  justify-content: center;
}
body .tituloJardinHome {
  background-color: rgba(0, 34, 0, 0.5);
  border-radius: 1.5vw;
  margin-top: 4rem;
  padding: 0.6rem 2rem;
  color: beige;
  font-family: "italianno", cursive;
  font-size: 4rem;
  font-style: normal;
  text-align: center;
}

body main .gridProductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
body main div .containerProductos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}
body main div .containerProductos p {
  color: beige;
  font-family: "italianno", cursive;
  font-style: normal;
  font-size: 3rem;
  background-color: rgba(0, 34, 0, 0.5);
  padding: 0.1rem 1rem;
  border-radius: 1vh;
}
body main div .containerProductos img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  padding: 1rem;
  border-radius: 30px;
}

body main .nuestraHistoria {
  text-align: center;
  padding-top: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: beige;
  font-size: 2rem;
  min-height: 68vh;
}
body main div .title {
  font-family: "italianno", cursive;
  font-size: 4rem;
  font-style: normal;
}
body main div .parrafo {
  font-family: "Playfair", serif;
  font-size: 1.5rem;
  font-style: normal;
  padding: 3rem;
}

body main .containerContacto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
  padding: 2rem;
  color: beige;
  font-family: "Playfair", serif;
  font-size: 1.2rem;
}
body main .containerForm {
  max-width: 50%;
}
body main div .form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
body main div .form input {
  border-radius: 5px;
  border: 1px solid #ccc;
}
body main div .form textarea {
  border-radius: 10px;
  border: 1px solid #ccc;
}
body main div .form button {
  background-color: #6da044;
  color: beige;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  width: 20%;
  cursor: pointer;
}

@media (max-width: 850px) {
  .containerProductos img {
    height: 300px;
  }
  .nuestraHistoria {
    padding: 20px 30px;
  }
  body main .containerForm {
    max-width: 100%;
  }
  body main div .form button {
    width: 100%;
  }
  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
