// variables
$color-bg: rgb(177, 207, 148); 
$color-bordes:  #6da044;
$color-tipografia: beige; 
$color-tipoFooter: #2f5213; 
$color-transVerde: rgba(0, 34, 0, 0.5);
$color-transNegro: rgba(0, 0, 0, 0.5);

$font-imprenta: "Playfair", serif;
$font-cursiva: "italianno", cursive;