// variables
$color-bg: #3c686c; 
$color-bordes:  #2c4548;
$color-tipografia: beige; 
$color-tipoFooter: #2b4043; 
$color-transVerde: rgba(25, 57, 60, 0.7);
$color-transNegro: rgba(0, 0, 0, 0.5);

$font-imprenta: "Playfair", serif;
$font-cursiva: "italianno", cursive; 