//variables
@use "../utilities/variables" as *;
//mixin
@use "../utilities/mixin" as *;

body{
  .jardinHome{
    background-image: url("../imagenes/bgBotanic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;

    @include flex;
    align-items: start;
    justify-content: center;
  }
  .tituloJardinHome{
    width: 100%;
    background-color: $color-transVerde;
    margin-top: 100px;
    padding: 10px 20px 0px 20px; 
    color: $color-tipografia;
    font-family: $font-cursiva;
    font-size: 5rem;
    font-style: normal;
    text-align: center;
  }
}